:root {
	--contrast-color: #3C2A21;
	--button-color: #1A120B;
}
body{
	text-align: center;
	background-color: #E5E5CB;
	font-family: sans-serif;
	color: var(--contrast-color);
}
.text-boxes {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	font-size: 15px;
}
.text-box {
	margin-top: 10px;
	flex-basis: 45%;
}

textarea {
	background-color: #f5eee6;
	width: 100%;
	margin: 10px 0px 5px 0px;
	border: 1.2px solid var(--button-color);  
	border-radius: 4px;  
	padding: 8px;  
	resize: vertical;  

}
#generate-button {
	font-size: 15px;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: var(--button-color);
	color: white;
	border: none;
	cursor: pointer;
}
.main_container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.css-trick-for-heading{
	/*This part is important for centering*/
	display: inline-block;
	margin-bottom: 50px;
}
.main_heading{
	color: var(--contrast-color);
	width: 10ch;
	animation: typing 2s steps(10), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
	font-family: monospace;
	font-size: 2em;
}

@keyframes typing {
	from {
	  width: 0
	}
  }
	  
@keyframes blink {
	50% {
	  border-color: transparent
	}
  }