.text-boxes {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.text-box {
	flex-basis: 45%;
}

textarea {
	width: 100%;
	margin-bottom: 10px;
}

#generate-button {
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #2ecc71;
	color: white;
	border: none;
	cursor: pointer;
}
